.trigger-btn {
    width: 150px;
    height: 40px;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background: #004256;
    color: #e0e0e0;
    align-self: center;
    line-height: 1.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}