
/* Background effect. It covers the entire site */
.modal {
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 10000;
    background: #00c2ec;
    width: 70%;
    max-width: 640px;
    height: 70%;
    margin: auto;
    border-radius: 20px;
}

.modal-header {
    align-self: flex-start;
    position: relative;
    width: 100%;
    height: 70px;
    background: #009fc6;
    border-radius: 20px 20px 0 0;
}

.modal-title {
    color: #2f2f2f;
}

.modal-body {
    width: 100%;
    background: #00c2ec;
}

.modal-text {
    margin-left: 40px;
    text-align: left;
    font-size: 1.4rem;
    color: #2f2f2f;
}

.modal-btn {
    margin: 30px;
    padding: 10px;
    width: 70px;
    border-radius: 5px;
}

.modal-footer {
    height: 80px;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    display: flex;
    background: #009fc6;
    border-radius: 0 0 20px 20px;
}

/* Close button */
.close {
    color: #2f2f2f;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}